nav.navbar.navbar-default {
  margin-bottom: 0;
}

.nav-item1 {
  display: flex;
  justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  right: 0;
  left: unset;
  padding: 16px;
}
#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: blue;
}
